<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >
    <application
        android:icon="@drawable/lamp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lamp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity android:name="lab6.modules.LabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="koroliuk.yana.intent.action.lab6"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>